<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em
        *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
      <input id="userName" (ngModel)="userName" name="userName" type="text" class="form-control"
        placeholder="User Name..." required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em
        *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
      <input id="pass" (ngModel)="password" name="password" type="password" class="form-control"
        placeholder="Password..." required />
    </div>
    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </span>
    <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
  </form>
</div>

<!-- ngModel ile birşey tanımlarken değerin tanımlı olduğundan emin ol -->
<!-- 
loginForm.valid: {{loginForm.valid}} <br>  
loginForm.invalid: {{loginForm.invalid}}<br>
loginForm.dirty: {{loginForm.dirty}}<br>
loginForm.pristine: {{loginForm.pristine}}<br>
loginForm.submitted: {{loginForm.submitted}}<br>
loginForm.touched: {{loginForm.touched}}<br>
loginForm.untouched: {{loginForm.untouched}}<br> -->

<div class="row">
  <div class="col">
    loginForm.valid: {{loginForm.valid}} <br> <!-- valid: geçerli ise -->
    loginForm.invalid: {{loginForm.invalid}}<br> <!-- invalid: geçersiz ise -->
    loginForm.dirty: {{loginForm.dirty}}<br> <!--  -->
    loginForm.pristine: {{loginForm.pristine}}<br>
    loginForm.submitted: {{loginForm.submitted}}<br>
    loginForm.touched: {{loginForm.touched}}<br>
    loginForm.untouched: {{loginForm.untouched}}<br>
  </div>
  <div class="col">
    loginForm.controls.userName?.valid: {{loginForm.controls.userName?.valid}} <br>
    loginForm.controls.userName?.invalid: {{loginForm.controls.userName?.invalid}}<br>
    loginForm.controls.userName?.dirty: {{loginForm.controls.userName?.dirty}}<br>
    loginForm.controls.userName?.pristine: {{loginForm.controls.userName?.pristine}}<br>
    loginForm.controls.userName?.submitted: {{loginForm.controls.userName?.submitted}}<br>
    loginForm.controls.userName?.touched: {{loginForm.controls.userName?.touched}}<br>
    loginForm.controls.userName?.untouched: {{loginForm.controls.userName?.untouched}}<br>
  </div>
  <div class="col">
    loginForm.controls.password?.valid: {{loginForm.controls.password?.valid}} <br>
    loginForm.controls.password?.invalid: {{loginForm.controls.password?.invalid}}<br>
    loginForm.controls.password?.dirty: {{loginForm.controls.password?.dirty}}<br>
    loginForm.controls.password?.pristine: {{loginForm.controls.password?.pristine}}<br>
    loginForm.controls.password?.submitted: {{loginForm.controls.password?.submitted}}<br>
    loginForm.controls.password?.touched: {{loginForm.controls.password?.touched}}<br>
    loginForm.controls.password?.untouched: {{loginForm.controls.password?.untouched}}<br>
  </div>
</div>